body{
background:#0b0b16;
color:white;
font-family:Arial;
text-align:center;
}

.stats{
display:flex;
justify-content:center;
gap:40px;
margin:30px;
}

.transactions{
display:flex;
overflow:hidden;
white-space:nowrap;
animation:scroll 20s linear infinite;
}

.transaction{
background:#1a1a2e;
padding:10px;
margin:10px;
border-radius:10px;
}

.review{
background:#111;
margin:10px;
padding:15px;
border-radius:10px;
}

@keyframes scroll{
0%{transform:translateX(0)}
100%{transform:translateX(-50%)}
}
